[2017-10-06 23:39] EarthCitizen opened #1 "Feature Request: Gradle DSL for Cabal"
In order to create a more Gradle-centric experience, and to avoid having multiple files for build configuration, it would be great to have a DSL in the build.gradle to represent the Cabal settings.

A possibility is to have the DSL definable at the root project level and sub-project level, then to only need to declare the settings needed as overrides in the sub-project.

What I would NOT do though

[2017-10-06 23:57] carymrobbins commented on #1
This is exactly what I want as well. Since you were gracious enough to submit the issue, I may use you as a resource to bounce ideas off of to ensure this comes out as idomatic as possible.

[2017-10-07 00:24] EarthCitizen commented on #1
Sure! And as it happens, I have experience implementing a DSL in Gradle. So, more than happy to give input.

[2017-11-02 14:33] carymrobbins opened #4 "Append .exe to Windows binaries"
From [Gitter](https://gitter.im/typelead/eta?at=59fb2799e44c43700aab6ed1)

In the same way that we do a platform check in [EtlasBinaryDependencyResolver#resolveRemote](https://github.com/typelead/gradle-eta/blob/f003f908cfd51b3a8c129a3334701ba41bebb1cb/src/main/groovy/com/typelead/gradle/eta/dependency/EtlasBinaryDependencyResolver.java#L55-L57) we need to append `.exe` to binary names in [EtlasBi

[2017-11-03 13:26] jrciii opened #5 "Support etlas version >= 1.1"
The runtimeEta task fails when setting the etlasVersion to '1.1.0.0' in build.gradle.

Error message:
[code]

[2017-11-06 16:46] jrciii commented on #4
resolveInSystemPath() also needs to be modified. Perhaps others too, but can verify this one definitely needs it.

[2017-11-15 06:09] carymrobbins commented on #4
@jrciii - I have a branch and PR out that should resolve this issue - [4-windows-binaries](https://github.com/typelead/gradle-eta/pull/6)

If you can, try it out and let me know if this works for you. Otherwise we can review and merge.

[2017-11-16 03:16] carymrobbins commented on #4
I'm going to go ahead and close this for now, @jrciii please reopen if you encounter any issues with this moving forward.

[2017-11-16 03:16] #4 closed

[2017-11-25 03:57] #5 closed

[2018-01-07 19:37] joshsh opened #10 "feature request: multi-module support"
Projects which combine Eta with other JVM languages such as Java will tend to have a multi-module structure in which Eta is used only in certain modules, rather than at the top level or in all modules.

An example is the [Semantic Synchrony](https://github.com/synchrony/smsn) project (see the [Gitter channel](https://gitter.im/synchrony/Lobby) for some context). It is currently a pure Java, Maven

[2018-02-03 18:30] #10 closed

[2018-02-03 18:33] Jyothsnasrinivas commented on #10
@joshsh We found that we were using `getRootDir()` instead of `getProjectDir()` which was messing it up for multi-module builds as you discovered. We have pushed a fix on master.

Let us know if you have trouble setting it up. It should be as simple as adding the plugin in the `build.gradle` of the subproject and running the `:[module]:compileEta` task. If you have any more suggestions on how to m

[2018-03-19 16:39] rahulmutt commented on #1
@EarthCitizen The Gradle DSL is in place now - it allows you to specify Hackage dependencies like so:
[code]

We will do a release within a week or two. Currently resolving some minor bugs. Multi-module Eta builds should work using `project(':[project-name]')` dependency notation that Gradle users are familiar with.

[2018-03-20 16:04] EarthCitizen commented on #1
@rahulmutt Is there a reason that the dependencies are in their own container rather than being in the eta scope?

I would have expected something like this:
[code]
I belive that is more idiomadic Gradle. This is also what other plugins do like the Gradle JRuby plugin:
[code]

[2018-03-20 17:35] rahulmutt commented on #1
@EarthCitizen Part of the reason is that the Eta compilation tasks use the same configuration as the Java compilation task - `compileClasspath` configuration when compiling + the path to the `classes` directory generated by the Java task. The goal was to make things as transparent as possible without having to learn about new conventions. By doing this, all the Eta dependencies (as jars) are avail

[2018-03-21 06:18] EarthCitizen commented on #1
One of the most important cons is that it is not conventional to have an additional sub-block in the dependencies block.

Here is a solution that may make Eta dependencies idiomatic to Gradle and still allow you to piggyback on the Java configuration:

[code]
In this case, `eta()` returns an implementation of:
`org.gradle.api.artifacts.SelfResolvingDependency`

And would be added with:
`project.de

[2018-03-21 06:53] rahulmutt commented on #1
@EarthCitizen That looks awesome. It looks a lot cleaner.

But there is one tricky bit here: resolving Eta dependencies can spit out two kinds of outputs: 1) a set of jars that represents the transitive dependency closure 2) a set of maven dependencies that have yet to be resolved. The 2nd scenario can occur if we use a Java library to patch a Hackage package. So I'm not sure that `SelfResolvingDe

[2018-03-21 06:55] rahulmutt commented on #1
If `eta()` returns `List<Dependency>` will `compile eta(...)` still work as expected?

EDIT: Scratch that, let's say it returned `Object[]` where `Object` can be multiple types of dependency notations.

[2018-03-21 07:31] EarthCitizen commented on #1
It looks like `eta()` returning something other than an implementation of the `Dependency` interface should work:

https://docs.gradle.org/current/userguide/dependency_types.html

But, I suppose you could also implement your own `EtaCompositeDependency` type from the `Dependency` interface. It may be necessary to dig into the Gradle source to understand how they handle the various `Dependency` int

[2018-03-21 08:00] EarthCitizen commented on #1
But thinking about it more, I think returning multiple things would be easier, as long as this works:

`compile 'something:something:1.2.3', gradleApi(), project(':sub-project')`

If that works, then you could return from `eta()` local jars, maven jars, and anything else needed in one go. Assuming that I am understanding the problem correctly.

[2018-03-21 08:59] EarthCitizen commented on #1
Another strategy is to use a detached configuration:

`eta()`:
[code]

[2018-03-21 18:13] EarthCitizen commented on #1
I guess the tricky part is that you make Gradle aware of the transitive dependencies that you are pulling in so that it can do proper dependency graph analysis.

[2018-03-21 18:28] rahulmutt commented on #1
Yeah. I figured out a hacky way to get the UI we want - `eta()` returns a custom `SelfResolvingDependency` which contains extra metadata containing Eta-specific info, but returns an empty `FileCollection`. All the configurations will have some extra logic every time a new Eta dependency gets added that will populate the `EtaConfiguration` that is attached to every `Configuration`. Then the rest of

[2018-03-21 18:30] rahulmutt commented on #1
Btw, for specifying Eta dependencies from Git, how does this look:
[code]

[2018-03-21 18:56] EarthCitizen commented on #1
As a side note, I tried this and it works (what you were initially proposing of `eta()` returning multiple items):

[code]

[code]

[code]

[2018-03-21 19:17] EarthCitizen commented on #1
Git dependencies: looks good.

Does the syntax for Hackage change at all?

[2018-03-21 19:19] rahulmutt commented on #1
Thanks for verifying that you can put multiple values in a dependency block! I'm currently in the process of implementing what I mentioned earlier.

[2018-03-21 20:09] rahulmutt commented on #1
Done! I've implemented the `eta()` method. See https://github.com/typelead/gradle-eta/commit/0d480422117f43b277f782778c94f1a01bf4ca08 for the changes that were required. This change actually allowed me to delete lots of code.

Any more things you'd like to see in this plugin?

[2018-03-21 20:11] rahulmutt commented on #1
Which syntax are you referring to?

[2018-03-21 20:14] rahulmutt commented on #10
@joshsh There's an example in `examples/multi` demonstrating a multi-project build. We've updated the README with clear instructions on how to build the plugin from source. Let us know if you need any assistance.

[2018-03-21 20:51] EarthCitizen commented on #1
`eta('text:1.2.3.4')` pulling from Hackage

[2018-03-21 21:09] EarthCitizen commented on #1
I see the new readme. Never mind. Question answered.

[2018-03-22 05:29] EarthCitizen commented on #1
The user does not have to also maintain the cabal file, correct?

[2018-03-22 06:54] rahulmutt commented on #1
Yes, no cabal file. It's generated for you by the Eta tasks.

[2018-03-22 20:00] EarthCitizen commented on #1
Then I think this is good.

[2018-03-25 21:32] NickSeagull opened #13 "Cannot apply plugin"
# Description

I've just created a new Gradle Java project using IntelliJ IDEA and added what is requested in the README to the `build.gradle` file.

I also installed `gradle-eta` following the steps in the README.

# Error

[code]

# System

- OS: Archlinux
- Etlas version: 1.3.0.0
- Eta version: 0.7.1b1

# Additional information

You can clone the project repo [here](https://github.com/NickSeagu

[2018-03-25 21:42] carymrobbins commented on #13
@NickSeagull It looks like you are depending on a locally installed gradle-eta; if so, follow the steps in the readme to do so, e.g. `./gradlew publishToMavenLocal`

@rahulmutt Has this plugin been deployed to the Gradle Plugins Repo?

[2018-03-26 04:07] rahulmutt commented on #13
@NickSeagull Can you provide the stacktrace in a Gist? (`./gradlew --stacktrace`)

@carymrobbins Not yet. Resolving the last few bugs before doing a release. As you said, `publishToMavenLocal` needs to be done. I've updated README in `gradle-eta` to provide all those instructions.

[2018-03-26 06:04] NickSeagull commented on #13
Looks like the problem in my case is with `./gradlew`. Running a `gradle build` (with the Gradle that is installed globally) works.

[Here you have the stacktrace](https://gist.github.com/NickSeagull/a0aee5d1c1d615c0e289c4851cc03dea) :smile:

This is quite an issue, as IntelliJ defaults to `./gradlew` instead of `gradle`.

[2018-03-26 06:22] rahulmutt commented on #13
Here's the problem:
[code]
That's a Gradle 4.3+ api. Update your wrapper with `./gradlew wrapper --gradle-version 4.3`.

If this becomes a serious problem, I can see if I can make a backwards compatible version of the `Property` class.

[2018-03-26 06:27] NickSeagull commented on #13
I've just updated the Gradle Wrapper to this configuration `distributionUrl=https\://services.gradle.org/distributions/gradle-4.5-all.zip` and it works properly, maybe we can add that Gradle 4.3+ is required to the README?

I think that backwards compatibility is not an issue here.

[2018-03-26 06:33] #13 closed

[2018-03-26 06:36] NickSeagull opened #15 "Gradle Run with Application plugin fails"
When running `./gradlew run` with the Application plugin, it fails because doesn't find the `Closure` class.

I guess this is because Eta is not getting included in the classpath.

[Stacktrace here](https://gist.github.com/NickSeagull/1eebc748dadc5d0e28ec8be9adb08ddd)

[2018-03-26 06:39] rahulmutt commented on #15
Can you try doing `./gradlew run` on `examples/multi` in this repo? For some odd reason the classpath works fine there, but it doesn't in other situations.

If you can share your project layout via some github repo that would be great. This seems like a tiny example that would be easier to debug.

[2018-03-26 06:52] NickSeagull commented on #15
The `examples/multi` project fails with [this stacktrace](https://gist.github.com/NickSeagull/b5f9d600345af60d3eb4a59ed3b0d4a6)

You can see the project [in this repo](https://github.com/nickseagull/eta-ws) :smile:

[2018-03-26 07:07] rahulmutt commented on #15
@NickSeagull Which commit of the gradle plugin did you build with? I am unable to reproduce with the version in 7b2498f5785c0c3fd0f388e48b86ac7a020b8d8f.

[2018-03-26 07:13] rahulmutt commented on #15
Regarding your `eta-ws` setup, you need to create a new project for the `java` project and add the Eta project as a project dependency. In a single project, the dependencies can only go in the direction Java -> Eta direction when the `eta` plugin is enabled for that project. This is because it's common to write "FFI helpers" that do some small bit of work that would be cumbersome to import into Et

[2018-03-26 08:33] NickSeagull commented on #15
I'm in the same commit as you @rahulmutt . Thanks, will create another project, and do what you said :smile:

[2018-03-26 09:32] NickSeagull commented on #15
Just pushed new commits @rahulmutt , still same stacktrace.

What I did was create a new project and added the generated Jar as a dependency. Maybe Gradle is not generating an Uberjar?

[2018-03-26 12:34] rahulmutt commented on #15
@NickSeagull Gradle doesn't generate an uberjar by default. If you setup a mulit-project build it should work. I'll send a PR with the setup I had in mind.

[2018-03-26 17:51] rahulmutt commented on #15
So it turns out that the current mechanism Eta uses to inject dependencies via `files('...')` breaks down with project dependencies which don't include the file dependencies, hence why the classpath is broken when you do `project(':[proj]')` dependencies. The reason it worked for `examples/multi` was that we depended on an exported function that happens to be included in the compiled jar that Grad

[2018-03-27 02:53] rahulmutt commented on #15
This is a high priority bug - will fix it within the next couple of days. The layout for local maven repos seems simple so it should hopefully not take that long.

[2018-03-28 14:57] rahulmutt commented on #15
@NickSeagull This should be fixed with commit `ac499aa8c0ccfff8f631eaf0cbb5da24edfcf933`. I've sent a PR to `eta-ws` as well.

[2018-03-28 15:31] NickSeagull commented on #15
Thanks @rahulmutt , I did a `git pull` and rebuilt `gradle-eta` again, but the build now fails with another error:

[Stacktrace](https://gist.github.com/NickSeagull/6197a68bef0c3d1db5121e030ce30069)

[2018-03-28 15:53] rahulmutt commented on #15
Hmm that seems to be the same error from before. Can you add the following diff locally and share the output of `./gradlew run --stacktrace -i`?
[code]

[2018-03-29 08:53] NickSeagull commented on #15
I cannot seem to be able to build with that patch applied:

[code]

[2018-03-29 08:59] rahulmutt commented on #15
Sorry about that, here's the working one:
[code]

[2018-03-29 09:32] NickSeagull commented on #15
There you go, thanks!

[stacktrace -i](https://gist.github.com/NickSeagull/55e2c9f7b4ebe3428d9cb9f2fab96323)

[2018-03-29 09:34] rahulmutt commented on #15
Can you try building from the current `master` and trying again? I just realized the output of `etlas deps` is the old format which the plugin doesn't recognize anymore. It should work then.

[2018-03-29 09:35] rahulmutt commented on #15
Current `master` of the Eta repo, that is.

[2018-03-29 10:16] NickSeagull commented on #15
Thanks, works now! Closing :smile:

[2018-03-29 10:16] #15 closed

[2018-04-16 03:04] rahulmutt commented on #10
@joshsh We now have now deployed the plugin to the Gradle Plugin Portal so you should be able to use it easily. See the README for more details.

[2018-04-18 13:34] rahulmutt commented on #1
Closing this as the DSL has been implemented. The examples cover how to configure language extensions, etc.

[2018-04-18 13:34] #1 closed

[2018-04-20 06:06] rahulmutt opened #16 "Fix javadoc warnings"
When running the `javadoc` task, many warnings are emitted. We should eventually fix them.

[2018-05-02 14:14] rahulmutt opened #17 "preInstallDependencies should also inject dependencies in non-Eta projects"
The `injectDependenciesEta` task is added to all non-Eta projects in the build and injects the dependencies for all project dependencies in that given project. When `preInstallDependencies = true`, this injection should happen before the task graph is constructed or you'll get strange errors similar to this:
[code]

[2018-05-07 15:24] pedantic79 opened #18 "gradlew build task fail for some of the example projects"
The build task is normally used to compile and run the test for any gradle based projects. But most of the examples do not run correctly because of problems with the tests.

- fatjar -- etlas fails with `  unknown package: fatjar (dependency of fatjar-test-0.0.0)`
- multi -- etlas fails with `  unknown package: multi (dependency of multi-test-0.0.0)`
- simple -- only works because [simple package]

[2018-05-15 09:53] rahulmutt commented on #18
@pedantic79 Thanks for reporting this! We will look into it.

[2018-05-17 21:11] hvze opened #19 "Compiled sub-project isn't added as dependency to root project"
[code]

If I link B (an eta project) to A (a java project)
B isn't automatically added as a dependency when eta is finished compiling, so A fails to compile as well when referencing exported code from B.

[2018-05-17 21:19] jneira commented on #19
As reference this is the tree of the project folder: https://gist.github.com/hvze/41675ec80bf72e78f3bef296afe1c666
Those snippets are the gradle configuration (from @hvze in gitter):

[code]

[code]

[code]

[code]

[2018-05-17 22:40] rahulmutt commented on #19
@hvze Can you try shifting:
[code]
from your dependency's build.gradle to your root project's build.gradle? The plugin should actually not allow you to configure the `eta` extension in subprojects but I guess that Gradle automatically inherits extensions from the root project.

[2018-05-18 03:02] rahulmutt commented on #19
@hvze I tried reproducing your issue with a minimal project here:

https://github.com/rahulmutt/java-eta-gradle

And I was unable to reproduce. If you can modify that project to reproduce your problem, it'll help track this down. I have a feeling this has to do with the way you exported - maybe a typo somewhere?

[2018-05-20 00:54] haze commented on #19
With that test project the issue still occurs, @rahulmutt
To reproduce, clone the repo locally and double-click (or open) the build.gradle with IntelliJ.
An alternative option would be to clone using the IDE itself, but it doesn't matter.

When building the projects, both work fine, but in the root java project, IntelliJ has problems displaying the exported java code. This is because the compiled

[2018-05-21 16:12] carymrobbins commented on #19
It seems if I update the `build.gradle` as follows (manually supplying the eta RTS jars) and create a `main` entrypoint in the `Hello` class, we can get this to work. So ideally, `gradle-eta` needs to add these RTS jars to the classpath for dependent projects.

Next, IntelliJ still doesn't resolve this correctly, even if I manually give the `build.gradle` the following -

[code]

In order to get I

[2018-05-21 17:45] rahulmutt commented on #19
@carymrobbins Does setting `preInstalledDependencies = true` in the `eta` extension block change the behavior?

Most of the plugin code just deals with adding dependencies properly and the main issue you may hit is if something needs the dependencies *before* the Gradle task graph is constructed & executed. In this case, `preInstalledDependencies = true` should inject *all* the dependencies across

[2018-05-21 21:18] jneira opened #20 "java.lang.NoClassDefFoundError: main/Main in eta-init project"
Hi, after downloading the eta-init project and changing the plugin version to 0.6.5, a `.\gradlew run` throws this error:

[code]

The build.gradle is:
[code]
Same for 0.6.4 version, both tested in windows 10

[2018-05-21 21:36] jneira opened #21 "Cannot expand ZIP 'eta-0.7.2.1-stub-output.jar' as it does not exist."
Hi, downloading the eta-init project and running `.\gradlew run` i got this error:

[code]

build.gradle:
[code]
Same for 0.6.1, 0.6.2, and 0.6.3 versions of the plugin, in windows 10.

[2018-05-21 21:46] jneira commented on #20
* gradle-eta\examples\simple works fine
* gradle-eta\examples\simple multi fails with the same error that eta-init

[2018-05-22 05:38] rahulmutt commented on #21
We just recently released `0.6.5` which seems to fix it:
[code]

EDIT: The issue was similar across platforms, not Windows-specific. It seems to work after removing the `module Main where` declaration.

[2018-05-22 08:51] rahulmutt commented on #19
Should be fixed in `0.6.6`.

[2018-05-22 08:52] rahulmutt commented on #17
Fixed in 0.6.6.

[2018-05-22 08:52] #17 closed

[2018-05-22 08:52] rahulmutt commented on #18
Fixed in `0.6.6`.

[2018-05-22 08:52] #18 closed

[2018-05-22 19:50] jneira commented on #20
* After upgrade to 0.6.6 the error persists

[2018-05-22 20:00] jneira commented on #20
* As anticipated by @rahulmutt, the error is not thrown if removing `module Main where ` from `Main.hs`

[2018-06-13 15:07] lippling opened #22 "Unable to access jarfile"
I added servant as a dependency to eta-init and got this error:

[code]

The Gradle file looks like this:

[code]

[2018-06-14 02:33] Jyothsnasrinivas commented on #22
@lippling Thanks for reporting this. Can you share the output of the following command?

[code]

[2018-06-14 08:28] lippling commented on #22
[code]

[2018-06-14 08:31] Jyothsnasrinivas commented on #22
@lippling Can you try running the  command `./gradlew repl` and share the output?

[2018-06-14 08:35] lippling commented on #22
[code]

[2018-06-14 12:21] Jyothsnasrinivas commented on #22
@lippling Can you please add the following config to your configuration file which is located at `~/.etlas/config`. This will turn on the verbosity and will help us understand the problem.

[code]

And then share the output of `./gradlew --no-daemon -q --console plain repl`.

[2018-06-14 13:50] lippling commented on #22
I attached it as a file, as it's quite long.

[log.txt](https://github.com/typelead/gradle-eta/files/2102592/log.txt)

[2018-06-14 15:35] Jyothsnasrinivas commented on #22
@lippling Thanks for the file. Is this your first time installing Eta/Etlas or do you have a pre-existing installation?

[2018-06-14 15:47] lippling commented on #22
It is not the first time ever. I used it several months ago, but this is the first time with Gradle. Which folders should I delete?

[2018-06-14 15:56] Jyothsnasrinivas commented on #22
Then most likely deleting `~/.eta` and `~/.etlas` folders and building your project from scratch (which mean running `./gradlew clean` ) should fix the problem.

[2018-06-14 16:56] lippling commented on #22
Thanks!
It works. 👍

But I have to stop for now.

I tried to use these dependencies:

[code]

And there is a transitive dependency to `unix` which cannot be built. I couldn't figure out, where it comes from.

[2018-06-14 21:04] jneira commented on #22
@lippling hi!, i am afraid some of those package versions don't have patches to make them works with eta. The set of package versions suitables for eta are in this project: https://github.com/typelead/eta-hackage#supported-packages

Yo can check there that, for example, aeson last usable version in eta is 1.2.3.0. One of the changes applied by those patches is precisely remove the unix dependency

[2018-06-15 09:29] lippling commented on #22
Ok, I'll have a look at that list. Maybe that solves the Problem.

The error message is:

[code]

I looked at `servant-server`, but couldn't find `unix` there, so my assumption is that it is a transitive dependency.

[2018-06-15 10:12] jneira commented on #22
Mmmm your guess is right, `servant-server` depends on `warp` that in turn uses `unix` and eta-hackage does not have a patch for `servant-server-0.13.0.1`.
There is a working example using servant here: https://github.com/typelead/eta-fib-service. In its [cabal file](https://github.com/typelead/eta-fib-service/blob/master/eta-fib-service.cabal) you can see `servant-server` has no bounds so etlas (a

[2018-06-15 13:22] lippling commented on #22
I tested it with the fib code from there and these dependencies:

[code]

and got:

[code]

Maybe I should have a look at it again in several months.

Thanks for helping me so far.

[2018-06-15 15:07] jneira commented on #22
Ugh, it seems dependency resolution is not working correctly, we have to
investigate it. Could you add a explicit dependency to wai-servlet:
`compile eta('wai-servlet:0.1.5.1')`?

[2018-06-18 22:04] jneira commented on #22
Well, it turns out that a lower bound on http-types[ i introduced in wai-servlet](https://github.com/jneira/wai-servlet/commit/c227f2786fff321ec94086da8583999ad1fea796) broke the projects depending on both `servant-server <= 0.11`   and `wai-servlet`.
[Making a patch for `servant-server-0.12`](https://github.com/typelead/eta-hackage/pull/101) version wich has a suitable range for http-types seems

[2018-06-20 00:03] rahulmutt opened #23 "Avoid reporting build failures twice"
If you have any compile-time errors in your program, the errors will be shown twice. They should only be shown once.

[2018-06-20 23:23] carymrobbins opened #24 "Application scaffold :run fails with 'Error: Could not find or load main class eta.main'"
We get the following error when attempting to run a scaffolded project (via IntelliJ) with the gradle `:run` task.

[code]

This sounds like dependencies are not getting properly added.

*./settings.gradle*
[code]

*./build.gradle*
[code]

*./src/main/eta/Main.hs*
[code]

[2018-06-21 01:47] rahulmutt commented on #24
I was able to reproduce this - it looks like the class path is being sent to java is not the new versioned classpath scheme we've setup.

[2018-06-21 04:04] rahulmutt commented on #24
The issue was completely different actually:
[code]

This will get translated to underlying Etlas package version `1.0-SNAPSHOT` which ends up behaving weird inside of Etlas somewhere, causing the expected output file path to be invalid. I think the best naming scheme is to just parse the longest numeric + dot sequence and make that the default.

If you make it `version: '1.0'`, it should work.

[2018-06-21 11:53] #24 closed

[2018-06-21 12:06] rahulmutt commented on #24
Released v0.7.3 to fix exactly this.

[2018-06-25 11:09] lippling commented on #22
Thanks! It works!

For reference:

`Main.hs:`
[code]

`build.gradle:`
[code]

When I specify `module Main where` it compiles fine, but I get:

[code]
at runtime.

Removing `module Main where` fixes it.

[2018-06-25 15:22] rahulmutt commented on #22
This is a known bug, see #20. Since it looks like it's working now and the issue you found is tracked, I'll close this issue.

[2018-06-25 15:22] #22 closed

[2018-07-06 04:12] #23 closed

[2018-07-10 08:46] #20 closed

[2018-07-10 08:46] rahulmutt commented on #21
Resolved with #20.

[2018-07-10 08:46] #21 closed

[2018-07-10 08:49] rahulmutt commented on #19
@hvze @carymrobbins Any luck with `0.7.3`?

[2018-07-18 22:22] jneira opened #25 "Gradle project build with dhall as dependency hangs"
Hi, i've reproduced the error in windows 10 simple adding `compile eta('dhall-1.15.1')` in the `build.gradle` of the [simple example of the plugin](https://github.com/typelead/gradle-eta/blob/master/examples/simple/build.gradle)

The build.gradle is:
[code]
The build hangs in `Building aeson-1.2.3.0 (lib)...` step
Moreover, when i kill the gradle building with ctrl-c, the etlas, eta and java procc

[2018-07-19 07:24] jneira commented on #25
I've checked that an etlas installatation with the version fixed (eta version = '0.8.0b2' selected by etlas after cleaning, etlasVersion = '1.4.0.0' downloaded from site) terminates correctly

[2018-07-19 07:36] jneira commented on #25
* If i replace the eta block with this one:
[code]
* I get another error:
[code]
eta is in this directory!
[code]
Also i have full admin permissions in the computer.

[2018-07-30 12:09] razmaniandevil opened #27 "Plugin not working with Gradle version above 4.7"
Applying the gradle plugin (0.7.7) causes the following error :

org.gradle.api.internal.DefaultDomainObjectCollection.<init>(Ljava/lang/Class;Ljava/util/Collection;)V

[2018-07-30 14:06] rahulmutt commented on #27
@razmaniandevil We use a couple of internal Gradle API, so I guess in 4.8+ they prevented plugins from accessing it. Thanks for reporting!

[2018-07-31 07:23] rahulmutt commented on #27
It turns out we had no proper reason for using that internal API. We removed its usage and the build with 4.8+ succeeds now. Thanks again!

Fixed in v0.7.8 which is published.

[2018-07-31 09:54] razmaniandevil commented on #27
Awesome ! Thanks !

[2018-07-31 16:08] rahulmutt commented on #25
I recently reproduced the hanging of `Building aeson-1.2.3.0 (lib)...` on OS X when building with Gradle. Will need to take a look at this.

[2018-08-09 00:30] rahulmutt opened #28 "Add updateEtlas task"
To assimilate new bug fixes from `eta-hackage` or update the binary index, one needs to do `etlas update`. `gradle-eta` should provide a convenience task `updateEtlas` that simply delegates to `etlas update` using the cached Etlas.

[2018-08-10 10:42] rahulmutt commented on #28
Implemented in 3ac94fa96e1cf111edb54b8a6d4b992158a55044

[2018-08-10 10:42] #28 closed

[2018-08-18 09:28] jmhofer opened #29 "Windows: "createProcess: does not exist (No such file or directory)" - etlas command line too long?"
I'm on Windows 10, and I tried using gradle-eta together with an Intellij plugin build (there might be many more things wrong, but I identified one specific one here).

`gradlew.bat compileEta` fails with the following output:

[code]

With `--info`, it tells me additionally:
[code]

So I tried to execute this exact etlas command line, but with an added `-v`, manually (probably skip down for now i

[2018-09-09 05:56] joshsh opened #30 "read dependencies from *.cabal"
With `etlas`, I am able to build a large directory of pure Haskell code, not otherwise configured for use with Eta. In this case, `etlas` reads dependencies directly from a pre-existing `.cabal` file. On the other hand, I believe I can also build the project using `gradle-eta` so long as I specify all dependencies in `build.gradle`, e.g. `compile eta('text:1.2.2.2')`.

This seems like duplicate wo

[2018-09-09 16:11] joshsh commented on #30
The solution suggested by @rahulmutt is to generate a `*.gradle` file based on the `*.cabal`; this could then be included in the main `build.gradle`. This would be a much better solution than redefining dependencies already in the Cabal file (when parts of a project need to remain buildable as pure Haskell).

If this is possible, how difficult would it be to detect the Cabal file and generate the

[2018-09-16 13:19] joshsh commented on #30
Is there any ETA/priority for this (the generated `*.gradle` if not the dynamic include)? Thanks.

[2018-09-19 08:32] CThuleHansen opened #31 "Updating shadow to 2.0.4 causes error"
Hi.

I have tried updating the shadow plugin to 2.0.4, but it causes an error when building.
Gradle log is here:
https://scans.gradle.com/s/hwygem3jouuog

[2018-10-04 12:28] Sir4ur0n opened #32 "Multi example doesn't build"
I tried to run the multi example but I get several errors.

The first time:
[code]

However if I run the same command again, it seems to go further, but breaks:
[code]

[2018-10-04 20:40] jneira commented on #32
Hi, i've reproduced the first error but it works in the second try. Do you tried the plugin before? Maybe the gradle cache could contain bad versions of libraries. Sometimes wiping out the `~/.gradle` directory makes it work again.

The log of my test (to compare with yours):
[code]

[2018-10-04 21:18] sir4ur0n commented on #32
I just tried on another computer (Windows this time), I still can't build it.

First error is exactly the same.
Second (and next tries) all result in the same error:
[code]

[2018-10-05 11:41] NickSeagull opened #33 "NullPointerException when adding Git dependency"
When adding a git dependency to the dependencies, Gradle crashes with a `NullPointerException`.

# Steps to reproduce
1. Clone the `eta-init` project
2. Add the following to the dependencies section:
[code]
3. Run `./gradlew run`
4. Crash

# Additional Information
Tried on **Ubuntu 16.04 (WSL)**, and **Windows 10 x64**.

Tried with other packages like `dhall-eta` and `eta-prelude`.

# [StackTrace]

[2018-10-05 13:00] jneira commented on #32
Jumm, so you did the test in a fresh computer with no previous tries to build the example, right?
What version of the plugin are you trying? the master version?
I'll try using the gradle wrapping instead a system install (i am using an external gradle 4.7) to try reproduce the error.

[2018-10-06 19:52] sir4ur0n commented on #32
Yes, that was on a fresh clone of this repo, never tried to install it before.
I was on master branch.
I was using `gradlew` which is supposed to make the build fully reproducible 😄

[2018-10-08 22:04] jneira commented on #32
Hi, sorry for the delat but i get to reproduce the error, wiping out *my* local `~\eta\0.8.0b2` and `~\etlas\0.8.0b2`.
We have to investigate why but the versions used in master `eta-gradle` don't work anymore (and it should!)
In the meanwhile i've tried newer versions of etlas, eta and libs and they have worked for me:

- `multi/build.gradle`
[code]
- `multi/hio/build.gradle`
[code]

hope it help

[2018-10-12 11:50] sir4ur0n commented on #32
Your fix seems to work 😄 Waiting for the PR to be merged before closing.

[2018-10-18 12:08] rahulmutt commented on #32
Closing since the relevant PR was merged.

[2018-10-18 12:08] #32 closed

[2018-10-20 14:08] mmisamore opened #35 "eta-init fails on Mac OS X"
# eta-init fails on Mac OS X
[code]

## Environment:
1. Darwin Michaels-MacBook-Pro.local 17.2.0 Darwin Kernel Version 17.2.0: Fri Sep 29 18:27:05 PDT 2017; root:xnu-4570.20.62~3/RELEASE_X86_64 x86_64
2.  java version "1.8.0_191"
Java(TM) SE Runtime Environment (build 1.8.0_191-b12)
Java HotSpot(TM) 64-Bit Server VM (build 25.191-b12, mixed mode)

## Steps to Reproduce:
1. clone eta-init repositor

[2018-10-20 23:08] rahulmutt commented on #35
It looks like the full message got cut off? If you got that message is means `etlas` was installed successfully (since that welcome message is baked into `etlas`), but that's just a part of it. The full message tells you that you need to specify your telemetry preference and will prompt you to run `./gradlew run -PetaSendMetrics=[true/false]`.

[2018-10-20 23:16] rahulmutt commented on #30
Moving forward, I'm sure this will be pretty useful to a lot of people, but right now we have our hands full.

@jneira Do you think implementing `etlas project [component-name] --gradle` command is something you'd be interested in working on since you've been doing a lot of work on transforming `X -> GenericPackageDescription`? This would be the inverse - `GenericPackageDescription -> X`.

If that

[2018-10-20 23:29] rahulmutt commented on #33
Thanks for reporting! Was able to reproduce. I'll add a git dependency example to the test suite so we catch this sort of regression in the future.

[2018-10-21 01:05] mmisamore commented on #35
This appears to have been a transient network issue, and is no longer reproducible. Closing.

[2018-10-21 01:05] #35 closed

[2018-10-21 21:39] jneira commented on #30
Not sure if i fully understand the solution,  but it seems the main info that gradle would need from the cabal file are the dependecies. The rest of the GenericPackageDescription info is not essential.
So maybe we could modify `etlas deps` to output the project dependencies (including eta packages and maven ones). Something like
[code]
could it be that output usable in a easy way from gradle plugi

[2018-10-25 05:35] rahulmutt commented on #30
@jneira Actually, the Gradle DSL supports [more than just dependencies](https://github.com/typelead/gradle-eta/blob/master/examples/simple/build.gradle#L30-L34) - you can specify pretty much everything you could in the .cabal file. Currently, `gradle-eta` only supports the most frequently used fields, but I'd be happy to support all the fields if this conversion command is implemented.

I imagine

[2018-10-25 06:28] jneira commented on #30
I see, it could be a more general solution to interoperate between formats, i'll try to take a look.
The hard part could be the `GenericPackageDescription -> GradleDSL` cause it is in pure java/groovy in the gradle plugin, right?
We should implement a builder in haskell for the gradle dsl format, or would be there another option?

[2018-10-25 07:04] rahulmutt commented on #30
@jneira I can handle the `GenericPackageDescription -> GradleDSL` bit, probably the first iteration will just be concatenating raw `Text`'s. If you can setup the basic framework (basic implementation of the `etlas project` command), that'll be enough.

[2018-10-25 07:31] #33 closed

[2018-10-25 07:32] rahulmutt commented on #33
Fixed in `0.8.0`

[2018-10-25 07:53] rahulmutt commented on #31
So the issue here is that `gradle-eta` dynamically injects packages into all the gradle configurations and `shadow-2.0.4` apparently forces the configuration evaluation first. You can work around this like so:

[code]

[2018-10-25 13:41] NickSeagull commented on #33
Great, thanks!!

[2018-11-11 20:03] jneira opened #36 "Plugin doesnt work with gradle > 4.8 (using packages with java-source)"
It seems to throw ClassNotFoundExceptions for classes included in the `java-source` stanza.
Reported by @politrons in https://github.com/typelead/eta/issues/904

[2018-11-13 06:54] jneira commented on #36
The workaround is to use gradle `4.7` or `4.8`, locally installed or using the gradle wrapper used in [examples](https://github.com/typelead/gradle-eta/tree/master/examples/simple)

[2018-11-13 14:32] joshsh opened #37 "failure to build text-1.2.2.2 and text-1.2.3.1"
I encountered a build failure in a project with a `text-1.2.3.1` dependency, and I was able to reproduce the problem by simply adding a `text-1.2.2.2` dependency to the [fatjar example](https://github.com/typelead/gradle-eta/tree/master/examples/fatjar):

[code]

I encounter distinct errors the first time I run `./gradlew shadowJar --info` (after clearing the Gradle cache) vs. the second time I ru

[2018-11-13 20:50] rahulmutt commented on #37
Perhaps the problem is related to #36?

[2018-11-13 21:05] jneira commented on #37
Hi and thanks for the detailed report:
- The last run is failing cause `text-1.2.3.1` is not patched in [eta-hackage ](https://github.com/typelead/eta-hackage/tree/master/patches) to make it compatible with eta. Last one is `1.2.3.0`
- I've seen the first spurious error previously (`No value has been specified for this provider.`), We will open a dedicated issue
- The output of `1.2.2.2` dont show

[2018-11-14 07:54] rahulmutt opened #38 "No value specified for provider"
The first time you download a fresh copy of etlas into your Gradle cache, that same build will fail with the following message:
[code]
But it will not occur after successive builds.

[2018-11-14 07:57] rahulmutt commented on #37
It was shown that `text-1.2.2.2` has a serious bug so we decided not to backport the patch. Please use `text-1.2.3.0`. If you still feel it should be patched, please let us know.

The errors in the build for `text-1.2.2.2` look like this after checking in `~/.etlas/logs/eta-0.8.6.2/text-1.2.2.2-*.log`:
[code]
which can be fixed by making `text-1.2.2.2` `base-4.11.1.0`-compatible because that chang

[2018-11-14 07:57] rahulmutt commented on #37
I've replicated and reported the `No value specified for provider` bug in #38.

[2018-11-14 18:51] joshsh commented on #37
Thank you; bumping the `text` dependency to the latest patched version solved the problem. Here are all of the dependencies of my project which needed to be special-cased for (gradle-)Eta:

* `aeson`: `1.4.0.0` instead of `1.3.1.1`
* `containers`: `0.5.9.1` instead of `0.5.11.0`
* `cql-io`: `1.0.1.1` instead of `1.0.0`
* `filepath`: `1.4.1.2` instead of `1.4.2`
* `network`: `2.6.3.2` instead of `2

[2018-11-14 22:20] joshsh opened #39 "support for multiple source directories"
It would be helpful if gradle-eta were to support multiple source directories at a time. For example, I have a pure Haskell directory I would like to keep separate from `src/main/eta` (so that its contents can be built independently, with GHC). Right now, I have a script which creates symlinks from `src/main/eta` into the pure Haskell directory `src/main/haskell`, but this is a bit of a hack. I ha

[2018-11-14 23:20] joshsh opened #40 "build fails due to missing -PetaSendMetrics"
I have created a gradle-eta build for my Haskell-based project so users don't have to install the Haskell Tool Stack; ideally, they just type `./gradlew run` and a JVM build commences. However, new users are running into the following build failure:

[code]

I realize that users just need to run `./gradlew run -PetaSendMetrics=true` or `./gradlew run -PetaSendMetrics=false` once to get around the

[2018-11-15 22:20] joshsh commented on #40
Note: this has also become a minor problem for templated, automated builds, where we have a fresh checkout on every execution, and expect to be able to simply `./gradlew clean release`. Instead, the build job has to be customized to use `-PetaSendMetrics=false` (as the build does not succeed otherwise, and because the sending of metrics may be seen as a security concern).

[2018-11-20 07:58] rahulmutt commented on #40
@joshsh For your first post, maybe you can specify in your docs that users installing Eta for the first time should run using that extra flag?

For your second post: You can customize your `build.gradle` so that is checks the environment variables to detect whether it's running in CI, and if so, default to `etaSendMetrics = false`. Note that the `etaSendMetrics = false` is a valid command in the `

[2018-11-20 08:08] rahulmutt commented on #39
I think you're looking for this?
[code]

Doing `srcDirs = ` will invoke the underlying set function and override the default as well. Calling `srcDir` will add the specified directory to the existing list of source directories (which defaults to `src/main/eta`). This is nothing specific to the gradle-eta plugin - this is default Gradle source set configuration behavior.

[2018-11-20 08:10] rahulmutt commented on #37
@joshsh Can you file a request on `eta-hackage` to provide patches for those specific versions of all the libraries?

[2018-11-28 20:24] arminha commented on #40
I solved this problem by adding `ext.etaSendMetrics = 'false'` to my `build.gradle` file.
The plugin expects a String value. I got an error without the quotation marks.

[2018-11-29 08:47] rahulmutt opened #41 "Make the send metrics property a proper boolean"
https://github.com/typelead/gradle-eta/issues/40#issuecomment-442591933

[2018-11-29 08:48] rahulmutt commented on #40
@joshsh I gave this some thought and realized the main problem here is that this is treated as a build failure w/ an exception which gives a confusing message. Would it help instead if it just printed the message without so much noise?

[2018-11-29 08:49] rahulmutt commented on #40
@arminha I've filed #41 to account for your observation about string vs boolean.

[2019-01-20 16:54] zstone1 opened #42 "Missing From The Installed Package Index"
I'm trying to build a project that recursively depends on a happy generated parser, and the eta-gradle plugin cannot build it. To get a repro:
[code]
So far so good.
The problem occurs when we add a dependency. Update the build.gradle file to have

[code]
Then run `./graldew run` again and you'll get an error

[code]
Notably, a folder with that name appears in my .etlas/store/eta-0.8.6.3, but it d

[2019-01-21 12:46] rahulmutt commented on #42
@zstone1 Thanks - was able to reproduce this. It seems to be an issue with the `etlas deps` command implementation. We'll add this to our queue.

Do you have a preferred timeline by which you'd like this fixed? I can prioritize accordingly.

[2019-01-22 14:07] zstone1 commented on #42
Excellent, glad you can repro. I don't have any critical timeline issues here. I have a workaround make file which will keep me unblocked for now. Thanks for the quick response!

[2019-02-03 05:56] rahulmutt opened #43 "gradle-eta is broken for Gralde >= 5.1"

[2019-02-05 20:23] joshsh commented on #39
Thanks; this is all that was required. Closing.

[2019-04-16 15:35] rahulmutt opened #44 "Add a task for generating a shrinked uberjar"
It should be as simple as these two sets of lines:

https://github.com/typelead/eta/blob/master/eta-serv/build.gradle#L37-L51
https://github.com/typelead/eta/blob/master/eta-serv/build.gradle#L1-L5

[2019-05-03 04:16] graeme-lockley commented on #43
@rahulmutt just finding my way around ETA and having great fun.  Could this issue be causing building (for example) the simple example within this repo from failing when attempting to build with Gradle 5.4.1?  The error I am seeing is

Incidentally this is when I attempt

or

[2019-05-09 04:57] rahulmutt commented on #43
I got the following:

[code]

Is that the same error you're getting?

[2019-05-18 10:13] graeme-lockley commented on #43
Nope that wasn't the error that I got.  The following is a off of a clean clone:

Incidentally on the above quote I have not attempted to run "gradle wrapper" so it is running on 4.7.  When I do upgrade it works again.  Again the quote below off of my terminal:

Not sure how to proceed or assist you guys from here.

[2019-05-18 10:14] graeme-lockley commented on #43
BTW the upgrading of the wrapper on the within the test sample makes no difference - sample still fails.

[2019-05-21 18:50] argideritzalpea opened #45 "Null value provided in parameters"
I cannot get Gradle to recognize my compileSdkVersion. My project is posted here:
[https://github.com/argideritzalpea/nlp-lite](https://github.com/argideritzalpea/nlp-lite
)
[code]

[2019-05-22 17:57] rahulmutt commented on #45
There is known issue with Gradle 5.1+ see #43. Can you try using Gradle 4 and see if that helps?

[2019-05-23 16:53] argideritzalpea commented on #45
I have tried several versions of Gradle 4, including 4.7 which was used in an example project I saw. It unfortunately did not resolve the problem.

[2019-05-30 00:54] argideritzalpea commented on #45
@rahulmutt Is there a recent android eta project that works? I have tried building with the https://github.com/Jyothsnasrinivas/eta-android-2048 example as well as the more recently updated Readme on the main gradle-eta page, but I still get the missing parameter issue

[2019-05-31 03:29] rahulmutt commented on #43
Ok I think there are several issues here that occur at different JDK versions + different Gradle versions. I'll see if I can do a setup that tests this properly.

[2019-06-02 15:02] rahulmutt commented on #43
@graeme-lockley I just released v0.8.1 which should fix the issues you're facing. On my system, Gradle 5.4.1 with JDK 12 seems to be working. Can you try again and let me know it goes?

[2019-06-03 23:14] argideritzalpea commented on #43
I am able to build at the top level with Gradle 5.4.1, however, when I add "apply plugin: 'eta-android'" to my app/build.gradle, I receive these errors:
[code]

[2019-06-05 16:13] rahulmutt commented on #43
@argideritzalpea This seems specific to the `eta-android` plugin. Perhaps there was a breaking change in the upstream android gradle plugin whose internal APIs we were using. I'll look into it and do another release, thanks for checking!

[2019-06-06 16:51] argideritzalpea commented on #43
Thank you @rahulmutt ! Can't wait to get it working...

[2019-06-17 22:46] lingnand commented on #43
I'm facing the same issue; the 'latest' set of plugins I can get working together is:

- gradle: 4.6
- android build tools: 3.1.0
- gradle-eta: 0.5.5

Anything higher runs into one of the problems outlined in the discussion.

Although it works, it's not great as it's missing all the updates and bug fixes in later versions of gradle-eta. So it's pretty common to run into some hard-to-scrutinize exi

[2019-07-18 15:37] argideritzalpea commented on #43
@rahulmutt Just wondering for planning purposes, but is there slated to be a fix for the eta-android plugin anytime within the next few weeks? Thanks

[2019-07-24 14:28] argideritzalpea opened #46 "eta not working for Android"
I am able to build at the top level with Gradle 5.4.1, however, when I add "apply plugin: 'eta-android'" to my app/build.gradle, I receive these errors:

[code]

This issue was first recorded in https://github.com/typelead/gradle-eta/issues/43

[2019-08-22 11:58] HoshinoTented opened #47 "Can not generate fatjar even with the example project"
log:
[code]

[2019-08-24 05:13] rahulmutt commented on #47
Can you share the version of Gradle you're using?

[2019-08-24 06:34] HoshinoTented commented on #47
Gradle 5.4.1, the same as example project one's

[2019-10-10 14:25] dmitry-ryadnenko-izettle commented on #45
I have the same problem

[2019-10-24 16:03] nganhkhoa commented on #43
[Using getStringName in eta-android](https://github.com/typelead/gradle-eta/blob/945a4e61d8cb7fcc610ceccd5a8eb6964abc4203/src/main/java/com/typelead/gradle/eta/plugins/EtaAndroidPlugin.java#L87)

Should this be changed to `getName`, Android Gradle does not use `getStringName` anymore.

Here is what I found: [android source gradle-3.4.0 branch](https://android.googlesource.com/platform/tools/base/+

[2019-10-25 07:16] nganhkhoa commented on #43
Gradle v4+ and v5 deprecates a lots, in v4, the methods still exist, but are purged in v5. The current source can be fix by changing `getStringName` to `getName` (of `DefaultAndroidSourceSet` android gradle build tools), `getClassesDir()` to `getClassesDirs().getSingleFile()` (of `SourceSetOutput`) and rewrite the `OverridingProperty` (implemented from `interface Property<T>`).

Also in `newInstan

[2019-11-13 19:40] nganhkhoa commented on #43
So the news is I got Android Studio to pass the build after register the resolvedEta provider with this:

[code]

But I think my project configuration is wrong because I got:

[code]

I don't know why `app-debug` is there but I would like some advices to get this working and make a pull request after some code cleaning.

[2019-11-14 05:17] jneira commented on #43
Great news! could you share your project configuration (ideally a link to the project) and the entire log produced by `gradle -d -s`?